@use './variables';

@mixin dashed {
  border: 1px dashed variables.$color;
}

@mixin blueHover($border: solid) {
  border-style: $border;
  border-color: variables.$skyBlue;
  color: variables.$skyBlue;
  background: rgb(48, 52, 53);
  cursor: pointer;
}
